/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: linear-gradient(#50572f 64px, #f8e6d5 64px);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #db6048;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #db6048;
}
